Django==4.2.7
djangorestframework==3.14.0
django-cors-headers==4.3.1
django-mptt==0.14.0
django-taggit==4.0.0
django-storages==1.14.2
django-extensions==3.2.3
django-debug-toolbar==4.2.0
django-tenant-schemas==1.14.0
django-ratelimit==4.1.0
django-otp==1.2.2
Pillow==10.1.0
psycopg2-binary==2.9.9
redis==5.0.1
celery==5.3.4
requests==2.31.0
python-decouple==3.8
gunicorn==21.2.0
whitenoise==6.6.0
sentry-sdk[django]==1.38.0
boto3==1.34.0
drf-spectacular==0.26.5
djangorestframework-simplejwt==5.3.0
django-oauth-toolkit==1.7.1
pytz==2023.3
python-dateutil==2.8.2
Faker==20.1.0
factory-boy==3.3.0
pytest==7.4.3
pytest-django==4.7.0
coverage==7.3.2
black==23.11.0
flake8==6.1.0
isort==5.12.0
pre-commit==3.5.0
hazm==0.7.0
persiantools==4.1.0
kavenegar==1.1.2
